[package]
name = "lutgen"
version = "0.3.0"
documentation = "https://docs.rs/lutgen"
keywords = ["image-processing", "color", "hald-clut", "lookup-tables", "gaussian"]
description = "A blazingly fast interpolated LUT generator using gaussian distribution for arbitrary and popular color palettes."
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
categories.workspace = true

[workspace]
members = ["palettes"]

[workspace.package]
edition = "2021"
license = "MIT"
authors = ["Ossian Mapes <self@ossian.dev>"]
repository = "https://github.com/ozwaldorf/lutgen-rs"
categories = ["multimedia::images"]

[workspace.dependencies]
exoquant = "0.2.0"
clap = { version = "4.2.7", features = ["derive"] }

[dependencies]
exoquant.workspace = true
image = "0.24"
rand = "0.8.5"
rand_distr = "0.4.3"
rayon = "1.7.0"

# bin dependencies
clap = { workspace = true, optional = true }
lutgen-palettes = { version = "0.1.1", path = "palettes", optional = true }

[features]
default = ["bin"]
palettes = ["lutgen-palettes"]
bin = ["clap", "palettes"]

[[bin]]
name = "lutgen"
path = "src/bin.rs"
required-features=["bin"]

[profile.test]
inherits = "release"
