[package]
name = "lutgen"
version = "0.9.1"
documentation = "https://docs.rs/lutgen"
keywords = ["image-processing", "color", "hald-clut", "lookup-tables", "gaussian"]
description = "A blazingly fast interpolated LUT generator and applicator for arbitrary and popular color palettes."
edition = "2021"
license = "MIT"
authors = ["Ossian Mapes <self@ossian.dev>"]
repository = "https://github.com/ozwaldorf/lutgen-rs"
homepage = "https://github.com/ozwaldorf/lutgen-rs"
categories = ["multimedia::images"]

[workspace]
members = ["palettes"]

[workspace.dependencies]
clap = { version = "4.2", features = ["derive"] }

[dependencies]
image = "0.24"
rand = "0.8"
rand_distr = "0.4"
rayon = "1.7"
kiddo = { version = "3.0.0", features = [ "immutable", "simd" ] }
oklab = "1.0.0"

# bin dependencies
clap = { workspace = true, optional = true }
clap_complete = { version = "4.3.2", optional = true }
spinners = { version = "4.1.0", optional = true }
dirs = { version = "5.0.1", optional = true }
lutgen-palettes = { version = "0.2", path = "palettes", optional = true }

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }

[features]
default = ["bin"]
bin = ["clap", "clap_complete", "spinners", "dirs", "lutgen-palettes"]

[[bin]]
name = "lutgen"
path = "src/bin.rs"
required-features=["bin"]

[profile.release]
opt-level = 3
lto = true
panic = "abort"

[profile.test]
inherits = "release"

[[bench]]
name = "main"
harness = false
